{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "node": "current"
                }
            }
        ],
        "@babel/preset-typescript"
    ],
    "plugins": [
        "@babel/plugin-proposal-class-properties",
        [
            "module-resolver",
            {
                "root": [
                    "./"
                ],
                "alias": {
                    "@src": "./src",
                    "@types": "./src/types",
                    "@utils": "./src/utils",
                    "@interfaces": "./src/interfaces",
                }
            }
        ]
    ],
    "ignore": [
        "**/*.test.ts"
    ]
}